/*  CSS Document  */

git add lang.json

@charset "UTF-8";

/* Global Styles */
body { margin: 0px; padding: 0px; font-family: Helvetica; font-size: 14px; color: #8e5b30; }

h1 { margin: 0 0 12px 0; font-weight: normal; font-size: 2.5em; color: #b17d59; }
h2 { margin: 0 0 .5em 0; font-size: 1.8em; }
h3 { font-size: 1.2em; margin: 0 0 0 0; }
p,ul { margin: 0 0 1.5em 0; line-height: 1.4em; }
a { color: #900; }
.clear { clear: both; line-height: 1px; }

/* Layout - All */

.page { position: relative; overflow: hidden; }

header  {
	display: block;
	position: absolute;
	width: 100%;
	height: 300px;
	border-bottom: 1px solid #e8d395;
	background: #fff0a9 url(../images/header_tile.png) repeat 0 bottom;
	-webkit-transform: translate3d(0px,0px,0px);
}

article {
	display: block; position: absolute; top: 115px; left: 0px;
	width: 100%;
	margin-bottom: 80px;
	background: -webkit-linear-gradient(top,  #ffed9a 50%,#fff5c7 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #ffed9a 50%,#fff5c7 100%); /* W3C */
}
article .content_container { position: absolute; overflow: hidden; top: 0px; left: 0px; width: 100%; height: 100%; background: none; }
article .content_container .content_loading_container { position: absolute; top: 0px; padding: 40px 0px 0px 80px; margin-right: 20px; }

nav { position: absolute; bottom: 0; left: 0; width: 100%; }

footer  {
	display: block; position: absolute; bottom: 0; left: 0;
	width: 100%;
	height: 80px;
	background: -webkit-linear-gradient(top,  #3c160a 0%,#7a3925 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  #3c160a 0%,#7a3925 100%); /* W3C */
}

header, div.cupcake_01, div.cupcake_02, div.cupcake_03, .map_container, div.logo_gourmet, div.logo_cupcakes { position: absolute; -webkit-transition: -webkit-transform 1s ease; }

div.logo_gourmet  { width: 690px; height: 245px; background: url(../images/logo_gourmet.png) no-repeat 0 0; background-size: contain; -webkit-transform: scale(1) translate3d(170px,-260px,0px); }
div.logo_cupcakes { width: 258px; height: 25px;  background: url(../images/logo_cupcakes.png) no-repeat 0 0; background-size: contain; -webkit-transform: translate3d(-300px,240px,0px); }
div.cupcake_01 { width: 343px; height: 412px; background: url(../images/cupcake_01.png) no-repeat 0 0; background-size: contain; -webkit-transform: translate3d(200px,1030px,0px); }
div.cupcake_02 { width: 285px; height: 335px; background: url(../images/cupcake_02.png) no-repeat 0 0; background-size: contain; -webkit-transform: translate3d(-300px,140px,0px); }
div.cupcake_03 { width: 220px; height: 245px; background: url(../images/cupcake_03.png) no-repeat 0 0; background-size: contain; -webkit-transform: translate3d(1030px,174px,0px); }

.map_container { position: absolute; width: 350px; height: 350px; border: 1px solid #8e5b30; background-color: #ddd; }
.map_container.off { -webkit-transform: translate3d(1100px,170px,0px); }
.map_container #map_canvas { width: 100%; height: 100%; }

nav a {
    display: inline-block;
    color: #f8f0d4;
    font-weight: bold;
    text-transform: uppercase;
    margin: 15px 0px 0px 25px;
    padding: 15px 0px 30px 33px;
    background: url(../images/nav_icons.png?v=1) no-repeat 0px 0px;
}
nav a.selected {
    color: #ffe77b;
    background-position: 0px -80px;
}
footer p {
    position: absolute;
    top: 32px;
    right: 20px;
    color: #e2d5ae;
    font-size: .85em;
    font-weight: bold;
}

/* ...................................... */
/* Orientation-specific Layout - Landscape */
.page.landscape  { width: 1024px; height: 748px; }
.page.landscape header  { width: 1024px; -webkit-transform: translate3d(0px,-185px,0px); }
.page.landscape article { height: 553px; }
/* home page */
.page.landscape.home header { -webkit-transform: translate3d(0px,-70px,0px); }
.page.landscape.home div.logo_gourmet  { -webkit-transform: translate3d(170px,61px,0px); }
.page.landscape.home div.logo_cupcakes { -webkit-transform: translate3d(310px,240px,0px); }
.page.landscape.home div.cupcake_01 { -webkit-transform: translate3d(254px,290px,0px); }
.page.landscape.home div.cupcake_02 { -webkit-transform: translate3d(562px,304px,0px); }
.page.landscape.home div.cupcake_03 { -webkit-transform: translate3d(711px,174px,0px); }


/* ...................................... */
/* Orientation-specific Layout - Portrait */
.page.portrait { width: 768px; height: 1004px; }
.page.portrait header { -webkit-transform: translate3d(0px,-185px,0px); }
.page.portrait article { height: 809px; }
/* home page */
.page.portrait.home header { -webkit-transform: translate3d(0px,0px,0px); }
.page.portrait.home div.logo_gourmet  { -webkit-transform: translate3d(54px,130px,0px); }
.page.portrait.home div.logo_cupcakes { -webkit-transform: translate3d(195px,310px,0px); }
.page.portrait.home div.cupcake_01 { -webkit-transform: translate3d(90px,545px,0px); }
.page.portrait.home div.cupcake_02 { -webkit-transform: translate3d(360px,457px,0px); }
.page.portrait.home div.cupcake_03 { -webkit-transform: translate3d(535px,290px,0px); }
